body{
	background-image: url("http://vignette3.wikia.nocookie.net/anime-pedia/images/c/cc/Kid_krillin_peace.jpg/revision/latest?cb=20120217232535")
}

h1{
	color:white;
}

.jumbotron {
	background-color:#42adf4;
	text-align: center;
	font-size: 35px;
	color: white;
	font-family: Courier New;
	margin-top: 13px;
}
